ul{
    list-style: none;
    padding:0;
    margin:0;
}
.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}
mat-toolbar-row{
    background: #f5f5f5;
    color: rgba(0,0,0,.87);
}